@import helper._
@(artifact: String, depConfig: String)

@main("Configure deploy") {
<h1>Configure deployment</h1>
<ul>
    <form method="post" action="@controllers.routes.DeploymentController.doDeploy(artifact)" >
        <div class="form-group">
            <label for="envSelect">Environment</label>
            <select class="form-control" name="envSelect" id="envSelect">
                <option>dev</option>
                <option>prod</option>
            </select>
        </div>
        <div class="form-group">
            <label for="deploymentConfigJson">Deployment Config for @artifact</label>
            <textarea class="form-control" id="deploymentConfigJson" name="deploymentConfigJson" rows="20">
                @depConfig
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Start deploy</button>
    </form>
</ul>

}
