@import service.EmrApp
@import service.EmrDetails
@import service.HealthIndicator
@(app:EmrApp)

@main("Data-Valve clusters") {

<div class="row">
    <div class="col-1">
    </div>
    <div class="col-10">
            <div class="card" style="width: 42rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        @app.name
                        @if(app.cluster.isEmpty){
                            <span class="badge badge-danger">DOWN</span>
                        } else {
                            <span class="badge badge-primary">@app.cluster.get.status.state</span>
                        }
                    </h5>
                    @if(app.cluster.isDefined){
                        <h6 class="card-subtitle mb-2 text-muted">@app.cluster.get.id : @app.cluster.get.name</h6>
                        <p>Created: @app.cluster.get.status.creationDate</p>
                        <ul>
                            @for(ig <- app.cluster.get.instanceGroups) {
                            <li>@ig.getName() : @ig.getRunningInstanceCount() @ig.getInstanceType()</li>
                            }
                        </ul>
                    }

                    <div class="card card-body">
                        @for(hi <- app.healthIndicators){
                            @if(hi.healthy) {
                                <div class="alert alert-success" role="alert">
                                    @hi.name @hi.label
                                </div>
                            }else{
                                <div class="alert alert-danger" role="alert">
                                    @hi.name @hi.label
                                </div>
                            }
                        }
                    </div>

                    <p>
                        <a class="btn btn-warning" data-toggle="collapse" href="#collapse-checkpointsReset" role="button" aria-expanded="false" aria-controls="collapse-checkpointsReset">
                            Reset checkpoints
                        </a>
                        <div class="collapse" id="collapse-checkpointsReset">
                            <div class="card card-body">
                                <a href="@controllers.routes.ManagedAppsController.clearCheckpoints(app.id)">Proceed</a>
                            </div>
                        </div>
                    </p>


                </div>
            </div>
    </div>
    <div class="col-1">
    </div>
</div>
}
